.form {
    width: 50%;
    background-color: #333;
    color: white;
    padding: 0.5rem;
    border-radius: 0.7rem;
    margin: 10px auto;
}

.form-field {
    margin: 1rem 0;
    display: flex;
}

.form-field label {
    flex-basis: 20%;
}

.form-field input {
    flex-basis: 80%;
    border: none;
    border-radius: 0.7rem;
    padding: 0.2rem;
    font-size: 25px;

}

.form-field textarea {
    flex-basis: 80%;
    resize: none;
    border: none;
    border-radius: 0.7rem;
    padding: 0.2rem;
    font-size: 20px;
}

.form button {
    border: none;
    border-radius: 0.7rem;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    width: 50%;
    height: 30px;
}

.form button:hover {
    background-color: blueviolet;
    color: white;
}

